<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.renju0.xcode-device-list</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>725FBBE6-6A21-4F46-A018-24E9872B62BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98987F06-E863-4B63-B00D-E5C5AE01B5A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AC89736-FF5B-4763-8435-0B191DA4706A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D70FA5F3-C1DB-4113-8A74-BAE43015EFF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0996EDF-2DA0-44DF-B1CE-A524B1BBA090</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AC89736-FF5B-4763-8435-0B191DA4706A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D70FA5F3-C1DB-4113-8A74-BAE43015EFF4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>725FBBE6-6A21-4F46-A018-24E9872B62BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shinichiro Kato</string>
	<key>description</key>
	<string>Copy the device list to the pasteboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Xcode Device List</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>xcdevicelist</string>
				<key>subtext</key>
				<string>Copy the preview device list to the pasteboard</string>
				<key>text</key>
				<string>xcdevicelist</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D0996EDF-2DA0-44DF-B1CE-A524B1BBA090</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>725FBBE6-6A21-4F46-A018-24E9872B62BD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>xcrun simctl list devicetypes | grep -v "Device Types" | sed -e "s/\((\)\(com\.apple\.CoreSimulator\.SimDeviceType\.*\)\([0-9a-zA-Z\-]*\)\()$\)//g"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7AC89736-FF5B-4763-8435-0B191DA4706A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query = ARGV[0]

result = "enum Device: String, CaseIterable {\n"
a = query.split("\n")
a.each do |text|
	text.rstrip!
    caseText = text.gsub("-","").gsub("(","").gsub(")","").gsub(".","_").gsub(" ","_").gsub("__","_")
    result = result + "    case " + caseText + " = \"" + text + "\"\n"
end
result = result + "}"

print result</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D70FA5F3-C1DB-4113-8A74-BAE43015EFF4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Copyed to Pasteboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>98987F06-E863-4B63-B00D-E5C5AE01B5A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>725FBBE6-6A21-4F46-A018-24E9872B62BD</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>7AC89736-FF5B-4763-8435-0B191DA4706A</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>98987F06-E863-4B63-B00D-E5C5AE01B5A5</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>D0996EDF-2DA0-44DF-B1CE-A524B1BBA090</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>D70FA5F3-C1DB-4113-8A74-BAE43015EFF4</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/ShinichiroKato/XcodeDeviceList</string>
</dict>
</plist>
